<h1>Games</h1>
<ul>
  <% @games.each do |game| %>
    <li>
      <a href="/games/<%= game['id'] %>" style="text-decoration: none; color: black">
        <%= game['name'] %>
      </a>
      <%= game['description'] %>
    </li>
  <% end %>
</ul>
