<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
</head>
<body>
  <header>
    <img src="/img/glhf.png">
    <h1>Strat Roulette</h1>
  </header>
  <nav>
    <ul>
      <% if !session[:user_id].nil? %>
      <li><a href="/user_strats/<%= session[:user_id] %>">mina strats</a></li>
      <li><a href="/logout">logga ut</a></li>
      <li><a href="/strats/new">ny strat</a></li>
      <% else %>
      <li><a href="/register">registrera</a></li>
      <li><a href="/login">logga in</a></li>
      <% end %>
      <li><a href="/">välj ny strat</a></li>
      <li><a href="/strats">alla strats</a></li>
    </ul>
  </nav>
  <hr>
  <%= yield %>
  <hr>
  <footer>
    <p>gluh</p>
  </footer>
</body>
</html>
