<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projekt #2</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>">
    <link rel="icon" href="../public/favicon.ico">
</head>
<body>
  <header>
    <h1><a href="/" style="text-decoration: none; color: #666;">Strat Roulette</a></h1>
  </header>
  <nav>
    <ul>
      <% if !session[:user_id].nil? %>
        <% if @admin == 1%>
          <li><a href="/user/<%= session[:user_id] %>">adminsida yao</a></li>
          <li><a href="/strats">alla strats</a></li>
        <% end %>
      <li><a href="/user/<%= session[:user_id] %>">min sida</a></li>
      <li><a href="/logout">logga ut</a></li>
      <% else %>
      <li><a href="/register">registrera</a></li>
      <li><a href="/login">logga in</a></li>
      <% end %>
      <li><a href="/games">alla spel</a></li>
    </ul>
  </nav>
  <hr>
  <%= yield %>
  <hr>
  <footer>
  <h2>Lägg till spel:</h2>
    <form action="/games" method="post">
      <label>Namn: <input name="game_name" type="text"/></label>
      <label>Beskrivning: <input name="game_description" type="text"/></label>
      <input type="submit" value="lägg till"/>
    </form>
  </footer>
</body>
</html>
