<form action="/strats/<%= @strat['id'] %>/update" method="post">
  <label>Namn: <input name="strat_name" type="text" value="<%= @strat['name'] %>"/></label>
  <label>Beskrivning: <input name="strat_description" type="text" value="<%= @strat['description'] %>" /></label>
  <input type="hidden" name="authenticity_token" value="<%= env['rack.session'][:csrf] %>">
  <input type="submit" value="lägg till" />
</form>