<form action="/strats" method="post">
  <label>Namn: <input name="strat_name" type="text"/></label>
  <label>Beskrivning: <input name="strat_description" type="text"/></label>
  <input type="submit" value="lägg till" />
</form>
